@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Raleway', sans-serif;
}
.filter-btn {
  @apply border px-4 py-2 rounded-md text-sm bg-white hover:bg-gray-100;
}
